In [1]:
## syntax

def function_name(parameters):
    """Docstring"""
    # function body
    return expression

In [2]:
# why functions? reusability

num = 23

if num%2==0:
    print("the number is even")
else:
    print("the number is odd")

the number is odd

In [3]:
def even_or_odd(num):
    """This function finds even or odd"""
    if num%2==0:
        print("the number is even")
    else:
        print("the number is odd")

In [4]:
## calling function
even_or_odd(34)

the number is even

In [5]:
## function with multiple parameters

def add(a,b):
    return a+b

result=add(2,4)
print(result)

6

In [7]:
## default parameters

def greet(name="Guest"):
    print(f"Hello {name}, welcome home")

greet()

Hello Guest, welcome home

In [15]:
#V-IMP

## positional arguments

def print_numbers(*args):
    for number in args:
        print(number)

In [16]:
print_numbers(1,2,3,4,5,6,7,"krish",10)

1
2
3
4
5
6
7
krish
10

In [19]:
#V-IMP
## Keyword arguments

def print_details(**kwargs):
    for key,value in kwargs.items():
        print(f"{key}:{value}")

In [20]:
print_details(name="krish", age="32", country="India")

name:krish
age:32
country:India

In [21]:
def print_combined_details(*args, **kwargs):
    for val in args:
        print(f"Positional argument {val}")

    for key, vlue in kwargs.items():
        print(f"{key}:{vlue}")

In [22]:
print_combined_details(1,2,3,4,"Krish", name = "naik", age=32, country="India")

Positional argument 1
Positional argument 2
Positional argument 3
Positional argument 4
Positional argument Krish
name:naik
age:32
country:India

In [2]:
### return multiple parameters

def multiplication(a,b):
    return a*b, a

multiplication(3,6)

(18, 3)